<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SentimentEntities" connectionString="metadata=res://*/SentimentModel.csdl|res://*/SentimentModel.ssdl|res://*/SentimentModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(localdb)\projectsv13;initial catalog=&quot;SentimentAnalysisDB&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>